# NextAuth Configuration
# Run `openssl rand -base64 32` to generate a secure secret key
NEXTAUTH_SECRET=umakonekta-secure-session-auth-key-production-ph-2026

# The canonical base URL for your application:
# In local development: http://localhost:3000
# In Netlify / Production: https://your-site-name.netlify.app
NEXTAUTH_URL=http://localhost:3000

# Database Configuration
# Local SQLite database (bundled at prisma/dev.db)
DATABASE_URL="file:./prisma/dev.db"
